<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Darts Score</title>
</head>
<body>
    {% if messages %}
    <div style="background-color: rgb(156, 199, 166);">
        <ul class="messages" style="list-style-type: none; padding: 0;">
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}
    <nav>
        <a href="{% url 'home' %}">Home</a> | 
        {% if user.is_authenticated %}
        <a href="{% url 'players' %}">Players</a> | <a href="{% url 'account_logout' %}">Sign out</a>
        | Hi, {{ user.username }}!
        <img style="width: 20px; border-radius:50%;" src="{{ user.socialaccount_set.all.0.get_avatar_url }}" alt="">
 
        <!-- Date Joined: {{ user.socialaccount_set.all.0.date_joined}}
        Last login: {{ user.socialaccount_set.all.0.last_login|date:'d.m.Y. H:i'}}
        Full Name: {{ user.socialaccount_set.all.0.extra_data.name }}
        UID: {{ user.socialaccount_set.all.0.uid }} -->

        {% else %}
        <a href="{% url 'account_login' %}">Sign in</a>
        {% endif %} 
    </nav>
    {% block content %}
        
    {% endblock content %}
        
</body>
</html>