{% load static %}
<header class="p-1 mb-1 border-bottom">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-dark text-decoration-none">
            <img width="32px" src="{% static 'images/darts.png' %}" alt="Darts">
        </a>
        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
            <li><a href="{% url 'home' %}" class="nav-link px-2 link-dark">Home</a></li>
            {% if user.is_authenticated %}
                <li><a href="{% url 'game_create' %}" class="nav-link px-2 link-dark">New game</a></li>
                <li><a href="{% url 'players' %}" class="nav-link px-2 link-dark">Players</a></li>
            {% else %}
                <li><a href="{% url 'account_login' %}" class="nav-link px-2 link-dark">Sign in</a></li>
            {% endif %}
        </ul>
        {% if user.is_authenticated %}
            <div class="p-2 small">Last login: {{ user.socialaccount_set.all.0.last_login|date:'d.m.Y. H:i'}}</div>   
            <div class="p-2">Hi, {{ user.socialaccount_set.all.0.extra_data.name }}!</div>
            <div class="dropdown text-end">
                <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                <img src="{{ user.socialaccount_set.all.0.get_avatar_url }}" alt="mdo" width="32" height="32" class="rounded-circle">
                </a>
                <ul class="dropdown-menu text-small">
                <li><a class="dropdown-item" href="{% url 'game_create' %}">New game</a></li>
                <li><a class="dropdown-item" href="{% url 'players' %}">Players</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="{% url 'account_logout' %}">Sign out</a></li>
                </ul>
            </div>
        {% endif %}
        </div>
    </div>
</header>