{% extends 'base.html' %}

{% block content %}
<main class="form-signin w-100 m-auto text-center">
    <h1 class="mt-2 mb-4">Delete player "{{ player }}"?</h1>
    <p>
        All related {{ player }}'s game sessions will be deleted too. <br>
       <strong style="color: red;">This can not be undone!</strong>
    </p>
    <h4 class="mt-4 mb-2">Are you sure?</h4>
    <form action="" method="post">
        {% csrf_token %}
        <button class="btn btn-danger" type="submit">Yes, delete</button>
    </form>
    <div class="mt-2"><a class="link-dark" href="{% url 'players' %}">Cancel, go back...</a></div>
</main>
{% endblock content %}